<app-background
  [StartRunningAnimationEvent]="StartRunningAnimationEvent.asObservable()"
  [StartIdleAnimationEvent]="StartIdleAnimationEvent.asObservable()"
>
</app-background>
<app-character
  id="character"
  [StartRunningAnimationEvent]="StartRunningAnimationEvent.asObservable()"
  [StartIdleAnimationEvent]="StartIdleAnimationEvent.asObservable()"
></app-character>
<app-ui
  (PressStartEvent)="this.StartGame()"
  (PressResetEvent)="this.ResetGame()"
  (MinutesChangedEvent)="this.SetMinutes($event)"
  (SecondsChangedEvent)="this.SetSeconds($event)"
  (ContineGameButtonPressedEvent)="this.ContinueGame()"
  (AbortGameButtonPressedEvent)="this.AbortGame()"
  [Minutes]="this.Minutes"
  [Seconds]="this.Seconds"
  [ShowContinuePopup]="ShowContinuePopup.asObservable()"
  [CloseContinuePopup]="CloseContinuePopup.asObservable()"
  [UpdateExperienceBarEvent]="UpdateExperienceBarEvent.asObservable()"
></app-ui>
