.scroll {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.m-scroll {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  margin: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.animate {
  animation: scrollText infinite linear;
}

.animate.close {
  animation-duration: 30s;
}

.animate.mid {
  animation-duration: 40s;
}

.animate.far {
  animation-duration: 50s;
}

.animate.one {
  animation-duration: 45s;
}
.animate.two {
  animation-duration: 40s;
}
.animate.three {
  animation-duration: 35s;
}
.animate.four {
  animation-duration: 30s;
}
.animate.five {
  animation-duration: 25s;
}
.animate.six {
  animation-duration: 20s;
}

.animate.one.fast {
  animation-duration: 60s;
}
.animate.two.fast {
  animation-duration: 55s;
}
.animate.three.fast {
  animation-duration: 50s;
}
.animate.four.fast {
  animation-duration: 45s;
}
.animate.five.fast {
  animation-duration: 40s;
}
.animate.six.fast {
  animation-duration: 35s;
}

span {
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: white;
}

img {
  height: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Background-layer sorting */
#scroll-background {
  z-index: -99999;
}

#scroll-far-trees {
  z-index: -99998;
}

#scroll-mid-trees {
  z-index: -99997;
}

#scroll-close-trees {
  z-index: -99990;
}

#break-one {
  z-index: -100000;
}
#break-two {
  z-index: -99998;
}
#break-three {
  z-index: -99996;
}
#break-four {
  z-index: -99994;
}
#break-five {
  z-index: -99992;
}
#break-six {
  z-index: -99990;
}

#scroll-far-trees div span img {
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}
#scroll-mid-trees div span img {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#black-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 9999999999999999999999999999;
  background: black;
  opacity: 0%;
  transition: 2s ease-in;
}

.display {
  display: initial;
}

.none-display {
  display: none;
}
