<div class="scroll-container">
  <div id="demon-woods">
    <div class="scroll" id="scroll-close-trees">
      <div class="m-scroll close">
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
            alt=""
        /></span>
      </div>
    </div>
    <div class="scroll" id="scroll-mid-trees">
      <div class="m-scroll mid">
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
            alt=""
        /></span>
      </div>
    </div>

    <div class="scroll" id="scroll-far-trees">
      <div class="m-scroll far">
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
            alt="" /></span
        ><span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
            alt="" /></span
        ><span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
            alt="" /></span
        ><span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
            alt=""
        /></span>
      </div>
    </div>

    <div class="scroll" id="scroll-background">
      <div class="m-scroll">
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-bg.png"
            alt=""
        /></span>
        <span
          ><img
            src="assets\img\background\demon-woods\parallax-demon-woods-bg.png"
            alt=""
        /></span>
      </div>
    </div>
  </div>

  <div id="woods">
    <div class="scroll" id="break-one">
      <div class="m-scroll one">
        <span><img src="assets\img\background\break\1.png" alt="" /></span>
        <span><img src="assets\img\background\break\1.png" alt="" /></span>
        <span><img src="assets\img\background\break\1.png" alt="" /></span>
        <span><img src="assets\img\background\break\1.png" alt="" /></span>
      </div>
    </div>
    <div class="scroll" id="break-two">
      <div class="m-scroll two">
        <span><img src="assets\img\background\break\2.png" alt="" /></span>
        <span><img src="assets\img\background\break\2.png" alt="" /></span>
        <span><img src="assets\img\background\break\2.png" alt="" /></span>
        <span><img src="assets\img\background\break\2.png" alt="" /></span>
      </div>
    </div>

    <div class="scroll" id="break-three">
      <div class="m-scroll three">
        <span><img src="assets\img\background\break\3.png" alt="" /></span>
        <span><img src="assets\img\background\break\3.png" alt="" /></span>
        <span><img src="assets\img\background\break\3.png" alt="" /></span>
        <span><img src="assets\img\background\break\3.png" alt="" /></span>
      </div>
    </div>

    <div class="scroll" id="break-four">
      <div class="m-scroll four">
        <span><img src="assets\img\background\break\4.png" alt="" /></span>
        <span><img src="assets\img\background\break\4.png" alt="" /></span>
        <span><img src="assets\img\background\break\4.png" alt="" /></span>
        <span><img src="assets\img\background\break\4.png" alt="" /></span>
      </div>
    </div>

    <div class="scroll" id="break-five">
      <div class="m-scroll five">
        <span><img src="assets\img\background\break\5.png" alt="" /></span>
        <span><img src="assets\img\background\break\5.png" alt="" /></span>
        <span><img src="assets\img\background\break\5.png" alt="" /></span>
        <span><img src="assets\img\background\break\5.png" alt="" /></span>
      </div>
    </div>

    <div class="scroll" id="break-six">
      <div class="m-scroll six">
        <span><img src="assets\img\background\break\6.png" alt="" /></span>
        <span><img src="assets\img\background\break\6.png" alt="" /></span>
        <span><img src="assets\img\background\break\6.png" alt="" /></span>
        <span><img src="assets\img\background\break\6.png" alt="" /></span>
      </div>
    </div>
  </div>
</div>

<div id="black-overlay"></div>
<script>
  function scrollText() {
    const elements = document.getElementsByClassName("m-scroll");

    for (let i = 0; i < elements.length; i++) {
      const element = elements[i];
      element.classList.add("animate");
    }
  }
</script>
