<div class="scroll-container">
  <div class="scroll" id="scroll-close-trees">
    <div class="m-scroll close">
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-close-trees.png"
          alt=""
      /></span>
    </div>
  </div>

  <div class="scroll" id="scroll-mid-trees">
    <div class="m-scroll mid">
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-mid-trees.png"
          alt=""
      /></span>
    </div>
  </div>

  <div class="scroll" id="scroll-far-trees">
    <div class="m-scroll far">
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
          alt="" /></span
      ><span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
          alt="" /></span
      ><span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
          alt="" /></span
      ><span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-far-trees.png"
          alt=""
      /></span>
    </div>
  </div>

  <div class="scroll" id="scroll-background">
    <div class="m-scroll">
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-bg.png"
          alt=""
      /></span>
      <span
        ><img
          src="assets\img\background\demon-woods\parallax-demon-woods-bg.png"
          alt=""
      /></span>
    </div>
  </div>
</div>

<script>
  function scrollText() {
    const elements = document.getElementsByClassName("m-scroll");

    for (let i = 0; i < elements.length; i++) {
      const element = elements[i];
      element.classList.add("animate");
    }
  }
</script>
