* {
  color: #333;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: black;
}
.register-form {
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: black;
}

.username-field,
.password-field {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  border: none;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}

.register-button button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.register-button button:hover {
  background-color: #555;
}


.register-form-close-button{
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 8px 16px;
  font-size: 7px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.register-form-close-button:hover {
  background-color: #dddddd;
}

.close-button-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.emptyError {
  border: 1px solid red;
  color: red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
