.char-container {
  /* position: absolute;
  bottom: 30%;
  left: 49%; */
}

#char {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: -99993;
  position: absolute;
  bottom: 20%;
  left: 48%;
}

#char.left-screen {
  left: -10%;
}

#char.animate-idle {
  animation: Idle 0.75s steps(5) infinite;
}

#char.animate-running {
  animation: Run 0.75s steps(6) infinite;
}

#char.animate-exit-screen {
  animation: ExitScreen 2s ease-in, Run 0.75s steps(6) infinite;
}

#char.animate-enter-screen {
  animation: EnterScreen 2s linear, Run 0.75s steps(6) infinite;
}

#char.demon-woods-char {
  filter: brightness(50%);
  transform: translateY(-30%);
}



@keyframes Idle {
  from {
    background-position: 0;
  }
  to {
    background-position: -160px;
  }
}

@keyframes Run {
  from {
    background-position: 0;
  }
  to {
    background-position: -192px;
  }
}

@keyframes ExitScreen {
  100% {
    left: 110%;
  }
}

@keyframes EnterScreen {
  100% {
    left: 48%;
  }
}
