.ui-container {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer {
  font-size: 5rem;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}

.timer p {
  text-align: center;
}
