.ui-container {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer {
  font-size: 5rem;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}

.timer p {
  text-align: center;
}
#continue-popup-container::backdrop {
  background: rgba(0, 0, 0, 1);
}
#continue-popup-container {
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 999999999999999999999999;
  min-width: 20%;
  min-height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;

  border-radius: 10px;
  padding: 10px;
}
#continue-popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
