

.ui-container {
  user-select: none;
  z-index: 99;
}

/* Timer */
.timer {
  font-size: 5rem;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer .timerNumber {
  scale: 1;
  transition: scale 0.5s ease-in-out;
}

.timer .timerNumber:hover {
  cursor: ns-resize;
  scale: 1.1;
  transition: scale 0.3s ease-in-out;
}

.timer p{
  cursor: none;
}


/* Controls */
.controls {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 4em;
  margin-right: 4em;
  scale: 2;
  transition: scale 0.5s ease-in-out;
}

.controls button:hover {
  scale: 2.2;
  transition: scale 0.3s ease-in-out;
}


/* Experiencebar */
.experience-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* Continue-Popup */
#continue-popup-container::backdrop {
  background: rgba(0, 0, 0, 1);
}

#continue-popup-container {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);

  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 99999999999;
  min-width: 40%;
  min-height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;

  border-radius: 10px;
  padding: 10px;
}
#continue-popup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Login Popup */
#login-popup-container{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999;
}

.open-login-container{
  display: flex;
  justify-content:    center;
  /*flex-direction: column;*/
  align-items: center;
  position: absolute;
  top: 2%;
  right: 0.5%;
  z-index: 99999999999;
}

.open-login-container button{
  margin-left: 1em;
  margin-right: 1em;
  font-size: x-large;
  background: none;
  border: none;
  cursor: pointer;
  scale: 1;
  transition: scale 0.5s ease-in-out;
}

.open-login-container button:hover {
  scale: 1.2;
  transition: scale 0.3s ease-in-out;
}

/* Register Popup */
#register-popup-container{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999;
}


