<div class="ui-container">
  <div class="timer">
    <p id="minutes" class="timerNumber">{{ this.GetMinutesString() }}</p>
    <p>:</p>
    <p id="seconds" class="timerNumber">{{ this.GetSecondsString() }}</p>
  </div>

  <div class="controls">
    <button (click)="StartButtonPressed()">
      <p>Play</p>
    </button>
    <button (click)="ResetButtonPressed()">
      <p>Reset</p>
    </button>
  </div>

  <div class="experience-bar-container">
      <app-experiencebar [UpdateExperienceBarEvent]="UpdateExperienceBarEvent"></app-experiencebar>
  </div>
</div>

<div id="continue-popup-container">
  <div id="continue-popup" method="dialog">
    <div id="continue-text-container"><p id="continue-text">Continue?</p></div>
    <div id="continue-buttons">
      <button id="continue-confirm" (click)="ContinueGameButtonPressed()">
        Yes
      </button>
      <button id="continue-abort" (click)="AbortGameButtonPressed()">No</button>
    </div>
  </div>
</div>
